<template>
  <div>
    <b-alert
      fade
      :id="id"
      :show="getShow"
      :variant="getVariant"
      :class="getClassName"
      :dismissible="true"
      @dismissed="completedDismissed">
      {{ getContent }}
    </b-alert>
  </div>
</template>

<script>
  import actionsName from '@/store/modules/alert/actionsName'
  import constants from '@/constants'

  const { UPDATE_ALERT_RESET_MODEL } = actionsName
  const { VUEX_MODULES } = constants

  export default {
    name: 'app-alert',
    computed: {
      getShow () {
        return Boolean(this.params.content) && this.params.show
      },
      getVariant () {
        return this.params.variant
      },
      getClassName () {
        return this.params.className
      },
      getContent () {
        return this.params.content
      }
    },
    methods: {
      completedDismissed () {
        this.$store.dispatch(`${VUEX_MODULES.alert}/${UPDATE_ALERT_RESET_MODEL}`)
      }
    },
    props: {
      id: {
        type: String,
        default: ''
      },
      params: {
        type: Object,
        default: () => {}
      }
    }
  }
</script>
