/***
 COLOR PALETTE
***/
$background-primary-color: #FFF;
$background-secondary-color: #F5F5F5;
$border-color: #DDD;
$border-color-hover: #999;
$primary-color: #EE7D33; /* RGBA */
$primary-color-hover: #FDAA29;
$secondary-color: #BAA994;
$secondary-color-hover: #c6b6a3;
$white: #FFF;
$black: #4C4642;
$yellow: #ffcd00;
$yellow-dark: #e0bc2c;
$text-primary:#4C4642;
$text-secondary:#AAA;
$text-disabled:#B5BAB8;

/***
 FONTS
***/
$font-main: 'Source Sans Pro', sans-serif;
$font-size-xxl: 1.5rem;
$font-size-xl: 1.2rem;
$font-size-lg: 1rem;
$font-size-md: 0.875rem;
$font-size-sm: 0.75rem;
$font-size-xs: 0.7rem;

/*MIXINS*/
@mixin boxShadow($value) {
  -webkit-box-shadow: $value;
     -moz-box-shadow: $value;
          box-shadow: $value;
}

/***
 ELEMENTS HTML
***/
body {
  font-family: $font-main;
  background:$background-primary-color;
  color: $text-primary;
  font-size: $font-size-md;
  line-height: $font-size-md;
}

a {
  color: $text-secondary;
  text-decoration: none;
  &:hover,
  &:focus {
    color:$primary-color;
    text-decoration: none;
  }
}

/***
 OVERRIDE STYLES BOOTSTRAP
***/

/* Interface */
.btn-primary {
  color: $white;
  background-color: $primary-color;
  border-color: $primary-color;
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus,
  &.focus{
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
    @include boxShadow(none);
  }
  &.disabled {
    background-color: $primary-color-hover;
    border-color: $primary-color-hover;
    opacity: 0.5;
  }
}

.btn-secondary {
  color: $white;
  background-color: $secondary-color;
  border-color: $secondary-color;
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus,
  &.focus{
    background-color: $secondary-color-hover;
    border-color: $secondary-color-hover;
    @include boxShadow(none);
  }
  &.disabled,
  &:disabled {
    opacity: 0.5;
    color: $white;
    background-color: $secondary-color;
    border-color: $secondary-color;  
    &:hover,
    &:focus,
    &.focus {
      background-color: $secondary-color;
    }
  }
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  &:hover,
  &:focus,
  &.focus {
    color: $white;
    border-color: $primary-color;
    background-color: $primary-color;
    @include boxShadow(none);
  }
  &.disabled,
  &:disabled {
    opacity: 0.5;
    color: $primary-color;
    &:hover,
    &:focus,
    &.focus {
      background-color: $white;
    }
  }
}

/* Component Autocomplete */
.vbt-autcomplete-list{
  padding-top:0 !important;
  &.shadow {
    @include boxShadow(0 0px 5px 1px rgba(0, 0, 0, 0.1) !important);
  }
  .list-group-item.active {
    background-color: $white;
    border-color:$border-color;
    color: inherit;
    @include boxShadow(inset 0px 0px 5px 0px rgba(0, 0, 0, 0.2));
  }
  & > a.list-group-item {
    border-bottom: 1px solid $border-color;
    padding: 0.3rem;
  }
  & > a.list-group-item:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  & > a.list-group-item:last-child {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}


/* Card */
.card {
  padding:1rem;
  border: 1px solid $border-color;
  border-radius: 0;
  background: $background-primary-color;
  position: relative;
  @include boxShadow(0 0px 5px 1px rgba(0, 0, 0, 0.1));
}

.card-body {
  padding-left:0;
  padding-right:0;
  padding-bottom:0;
}

.card-text--description {
  height: 120px;
  overflow: hidden;
  margin-bottom: 0;
}

.card-title {
  font-size: 1rem;
  line-height: 1rem;
  margin: 0 0 0.25rem;
  font-weight: bold;
}

.card-body__info {
  padding: 0.5rem 0;
  margin-top: 1rem;
  border-top:1px dashed $border-color;
  font-size:0.8rem;
  text-align:center;
}

.card-img-top {
  max-height: 150px;
  width: auto;
  margin: 0 auto;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Nav-tabs */
.nav-tabs {
  border-bottom-color: $border-color;
  .nav-item {
    &.show {
      .nav-link {
        color: $text-primary;
        border-color: $border-color $border-color $white;
      }
    }
    .nav-link {
      color:$text-secondary;
      &.active{
        color: $text-primary;
        border-color: $border-color $border-color $white;
      }
    }
  }
}

/* Formularies */
.form-control {
  border:0;
  border-bottom:1px solid $border-color;
  border-radius: 0;
  background-color: $background-secondary-color;
  &:hover:not(:disabled),
  &:focus:not(:disabled),
  &.focus:not(:disabled) {
    @include boxShadow(none);
    border:0;
    border-bottom:1px solid $border-color-hover;
    background-color: $background-secondary-color;
  }
  &.is-invalid {
    &+ .invalid-feedback {
      &+ small.form-text {
        display: none;
      }
    }
  }
}

/* Modal */
.modal-header {
  background: $primary-color;
  color: $white;
  border-bottom: none;
  border-radius: 0;
}

.modal-content {
  border-radius: 0;
}

/* Toast message */
.toast-app {
  z-index: 4;
  &.alert-primary {
    color: $white;
    background: black;
    border:0;
  }
}

/***
 CUSTOM STYLES
***/

/* fonts and colors */
.primary-color {
  color:$primary-color;
}

.secondary-color {
  color:$secondary-color;
}

.text-primary {
  color:$text-primary;
}

.text-secondary {
  color:$text-secondary;
}

.yellow-color {
  color:$yellow;
}

/* ribbon */ 
.ribbon {
  position: absolute;
  top: 0px;
  padding-left: 51px;
  z-index: 2;
  .ribbon__amount{
    position: relative;
    padding: 0.2rem 0.5rem;
    margin: 1.5rem 0 0 -4.43rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $yellow;
    width: 4.5rem;
    color: $black;
    font-size: 1rem;
    text-align: right;
    &::before,
    &::after{
      content: ' ';
      position: absolute;
      width: 0;
      height: 0;
    }
    &:after {
      left: 0;
      top: 100%;
      border-width: 5px 10px;
      border-style: solid;
      border-color: $yellow-dark $yellow-dark transparent transparent;
    }
    &.ribbon__background{
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}

/* info box */
.info-box{
  padding: 1rem;
  border:1px dashed $border-color;
}

.info-box__title{
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color:$primary-color;
}

.info-box__list{
  margin:0;
  padding:0;
  list-style-position: inside;
  list-style: none;
  & li > span{
    padding-left: 0.25rem;
  }
  & li::before {
    content: "•"; 
    color: $primary-color;
  }
}

/* items */
.item-link {
  text-decoration: none;
  color:$text-primary;
  &:hover,
  &:focus {
    text-decoration: none !important;
    color:$text-primary;
  }
}

.item-detail {
  position: relative;
  color:$text-primary;
}

.item-detail__back {
  display: block;
  color: $text-secondary;
  margin: 0 0 1rem;
  &:hover,:focus{
    text-decoration: none;
    color:$text-primary;
  }
}

.item-detail__left {
  text-align: center;
}

.item-detail__photo {
  width:auto;
  max-height: 200px;
}

.item-detail__name {
  font-weight: bold;
  font-size: 2rem;
  margin: 0 0 0.2rem;
  padding:0;
}

.item-detail__categorie {
  color:$primary-color;
  font-size: 1rem;
  margin: 0 0 1rem;
  padding:0;
  display: block;
}

.item-detail__description {
  border-top: 1px dashed $border-color;
}

.item-detail__description__title {
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  color: $text-secondary;
}

/* interfaces */
.white-box {
  @include boxShadow(0 0px 5px 1px rgba(0, 0, 0, 0.1));
}

.white-box__title {
  font-size: 1.2rem;
  text-transform: capitalize;
}

.white-box__bottom {
  border-top:1px dashed $border-color;
  text-align: center;
}

/***
 MEDIA QUERYS
***/

/* Mobile */
@media screen and (max-width: 992px) {
  .card-text--description {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .card-text--description {
    height: 120px;
  }
}

@media screen and (max-width: 576px) {
  .card-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: 0 0 0.25rem;
  }

  .card-text--description {
    height: 100px;
  }

  .item-detail__photo {
    max-height: 200px;
  }

  .item-detail__join-button {
    display: block;
    width: 100%;
    padding: 0.5rem;
  }
}