<template>
  <div>
    <b-row>
      <b-col offset-xl="4" xl="4" offset-lg="3" lg="6" offset-md="3" md="6" sm="12">
        <div class="white-box p-3">
          <h2 class="white-box__title mt-0 mb-3">Acceso Chusyu</h2>
          <b-form @submit.prevent="onSubmit" novalidate>
            <b-form-group label="Email" label-for="email" label-class="primary-color">
              <b-form-input
                ref="email"
                v-model.trim="$v.email.$model"
                :state="getStatusInput('email')"
                @click.native="touchField('email')"
                type="email"
                placeholder="- Email -"
              ></b-form-input>
              <b-form-invalid-feedback>El formato es incorrecto</b-form-invalid-feedback>
            </b-form-group>
            <b-form-group label="Password" label-for="password" label-class="primary-color">
              <b-form-input
                ref="password"
                v-model.trim="$v.password.$model"
                :state="getStatusInput('password')"
                type="password"
                placeholder="- Password -"
              ></b-form-input>
              <b-form-invalid-feedback>Debes introducir una contraseña</b-form-invalid-feedback>
            </b-form-group>
            <b-button
              type="submit"
              variant="secondary"
              :disabled="processingForm || !isFormCompleted"
            >
              <span class="inline-block mr-1">Acceder</span>
              <font-awesome-icon icon="sync-alt" class="fa-spin" v-if="processingForm"/>
            </b-button>
            <div class="white-box__bottom mt-4 pt-2">
              <router-link to="/user-forget" class="inline-block">
                <font-awesome-icon icon="lock-open"/>
                <span class="inline-block ml-1¡">olvidé mi contraseña</span>
              </router-link>
              <router-link to="/user-register" class="inline-block ml-3">
                <font-awesome-icon icon="user-plus"/>
                <span class="inline-block ml-1">registrarme</span>
              </router-link>
            </div>
          </b-form>
        </div>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, email } from 'vuelidate/lib/validators'
import formMixin from '@/mixins/formMixin'
import actionsName from '@/store/actionsName'
import constants from '@/constants'
import { mapGetters } from 'vuex'

const { LOGIN_USER_API, UPDATE_USER_MODEL, UPDATE_REFERER_URL } = actionsName

export default {
  name: 'users-login',
  mixins: [validationMixin, formMixin],
  data() {
    return {
      email: '',
      password: '',
      errorForm: 'El email o contraseña indicado no son correctos'
    };
  },
  computed: {
    ...mapGetters(['refererURL'])
  },
  methods: {
    afterSubmit() {
      this.$store
        .dispatch(LOGIN_USER_API, {
          email: this.email,
          password: this.password
        })
        .then(responseLogin => {
          this.processingForm = false;
          if (this.defaultResponseServer(responseLogin) !== false) {
            const redirectUrl = this.refererURL || { path: constants.INIT_APP };
            if (responseLogin.data.user) {
              this.$store.dispatch(UPDATE_USER_MODEL, responseLogin.data.user);
              this.$router.push(redirectUrl);
              this.$store.dispatch(UPDATE_REFERER_URL, {});
            } else {
              return false;
            }
          }
        });
    }
  },
  validations: {
    email: {
      required,
      email
    },
    password: {
      required
    }
  }
};
</script>